// colors
$primary: #3b82f6;
$black: rgb(17 24 39);
$white: #fff;
$red: #dc2626;
$gray: #d1d5db;
$gray-dark: #6b7280;
$background-color: #f3f4f6;

// shadow
$box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

// border-radius
$radius: 6px;
